a {
	color: white;
  }

.verPr a {
	color: #007bff;
}

  table {
	color: #0a0d52 !important;
	background-color: #fbfefe;
  }

  th {
	background-color: #0a0d52;
	color: white;
  }

	h5,h4 {
		color: #0a0d52;
	}

	textarea {
		background-color: #fbfefe !important;
	}

.btnInfoBarra {
	color: #0a0d52 !important;
	border-color: #0a0d52 !important;
}

.btnInfoBarra:hover {
	background-color: #3a3d74 !important;
}

.modalSalir .salir {
	background-color: #0a0d52 !important;
}

.PlanSeccion {
	color: #0a0d52;
	background-color: #fbfefe;
	border-color: white;
}

.AreaPlan {
	width: 80%;
}

.PlanSeccion:hover {
	color: white !important;
	background-color: #0a0d52;
	border-color: white;
}

.PlanSeccion button {
	color: white !important;
	background-color: #0a0d52;
	border-color: #0a0d52;
}



.PlanSeccion .interior {
	color: #0a0d52 !important;
	background-color: #fbfefe;
}






/*
ICON COLORS
*/
.succeed {
	color: green;
  }

  .tries {
	color: lightblue;
  }

  .fails {
	color: red;
  }


  /*
  PROGRESS BARS COLORS
  */
  .pb-completed {
	background-color: #f0037f;
  }

  .pb-progress {
	background-color: #0a0d52;
  }

  .pb-undone {
	background-color: #fff3f9;
  }



/* CARD BENEFICIARIA */
  .content {
	color: #0a0d52;
  }

  .foto-prueba {
	width: 130px;
	height: 170px;
	align-content: center !important;
  }

  .card-title {
	  color: #f0037f;
  }

	.planCard {
		position: fixed;
		margin: inherit;
	}

	.cardCompleta {
		background-color: #fbfefe;
	}


	/* TABLA */
	.areaHab {
		max-width: 150px;
	}

	.tabComparar {
		max-width: 20%;
		text-align: center;
	}


/* Botones */
.btn-next {
border: 2px solid #f0037f !important;
color: #f0037f;
}

.btn-next:hover {
	background-color: white;
	color: #fff3f9;
}

.btn-next:active {
	background-color: #f0037f !important;
}

.btn-plan:active {
	background-color: white !important;
}

.btn-comparar {
	display: none;
}



  #commentBox {
	display: none;
  }
